<div style="
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-weight: 500; */
    font-family: 'Inconsolata', monospace;
    ">

    <span style="margin-top: 80px;
    font-size: 1.3em;
    ">🚧 Under Construction!</span>
    <br/>
    <span style="font-size: 1.6em; margin-bottom: 60px;
    ">⌛️ Coming Soon</span>


<div class="ani-container">
    <div class="ani-flex">
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
    </div>
    <div class="ani-flex">
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
    </div>
    <div class="ani-flex">
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
    </div>
    <!-- <div class="ani-flex">
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
      <div class="cube">
        <div class="wall front"></div>
        <div class="wall back"></div>
        <div class="wall left"></div>
        <div class="wall right"></div>
        <div class="wall top"></div>
        <div class="wall bottom"></div>
      </div>
    </div> -->
  </div>

  <span style="width: auto;">
    <div style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;">
       <a routerLink="/">
            <button class="pro-btn-goback"
            style="text-decoration: none; color:white;">
            👈🏻 Go Back
            </button>
        </a>
    </div>
</span>

</div>
