.pro-btn {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #00000000;
    color: white;
    width: 190px;
    background-color:#1E1E1E;
    border-radius: 5px;
    cursor: pointer;
}

.pro-btn:hover {
    background-color:#2e2e2e;
}

.pro-card-dark {
    text-decoration: none;
    margin-top: 50px;
    border-radius: 8px;
    background-color: #1E1E1E;
    width: 400px;
    height: auto;
    border-width: 0px;
    box-shadow: black;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.pro-card-dark:hover {
    background-color: #212121;
}

.pro-card {
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
