<div class="container-lg">

    <!-- <app-terminal></app-terminal>

    <app-homepage-content></app-homepage-content> -->

<div class="d-flex flex-column mt-4">

<div class="animatedcard" style="
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 180px;
    /* background: linear-gradient(45deg, rgba(255,199,56,1) -20%, rgba(255,167,0,1) 100%); */
    display: inline-block;
    color: black;
    text-align: center;
    align-items: center;
    color: white;
"> 
    <h5 style="
        text-shadow: 5px;
        font-size: 50px;
        margin-top: 55px;
    ">
    Quick VM
    </h5>
    
    </div>
</div>

</div>

