<div class="container-lg">

    <!-- <app-terminal></app-terminal>

    <app-homepage-content></app-homepage-content> -->

<div class="d-flex flex-column mt-4">


    <img class="animation-dropIn" style="margin: auto;" width="100" src="../assets/vm-logo.svg" alt="logo"/>


<div class="animation-dropIn" style="
    border-radius: 12px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 120px;
    background: linear-gradient(45deg, #1D1645 -20%, #311D4C 100%);
    display: inline-block;
    color: black;
    text-align: center;
    align-items: center;
    color: white;
"> 
    <h5 style="
        text-shadow: 5px;
        font-size: 50px;
        margin-top: 26px;
    ">
    Quick VM
    </h5>
    
    </div>
</div>

</div>

