<div class="container-lg">
    <app-terminal></app-terminal>
    <div style="max-width: 600px;margin: auto;display: flex;flex-direction: column;justify-content: center;align-items: center;">
        <div style="text-decoration: none;margin-top: 50px;border-radius: 8px;background-color: #1E1E1E;width: 400px;height: auto;border-width: 0px;box-shadow: black;display: flex;padding-top: 15px;padding-bottom: 15px;margin-bottom: 20px;">
            <div class="d-flex flex-column">
                <img src="../assets/vm-logo.svg" style="margin-bottom: auto;margin-top: auto;margin-left: 30px;"/>
            </div>
            <div class="d-flex flex-column" style="text-align: center;margin-top: 20px; margin-bottom: 20px;">
                <div style="font-size: 30px;font-weight: bold;margin-top: -10px;color: #2484F0;">Quick VM</div>
                <div style="font-size: 18px; margin-top: 10px; color: white;">Make a Windows VM in under 100 seconds!</div>
            </div>
            <span style="width: 400px; margin-bottom: 50px;">
                <div class="d-flex flex-row  justify-content-around" style="display: flex;">
                    <button style="font-size: 15px;border-color: #00000000;color: white;width: 185px;padding: 15px;background-color:#1E1E1E;border-radius: 5px;cursor: pointer;">
                        <a style="text-decoration: none; color:white;" href="https://blog.cybrdise.com/posts/quick-vm/">📰 Read Blog</a>
                    </button>
                    <button style="font-size: 15px;border-color: #00000000;color: white;width: 185px;background-color:#1E1E1E;border-radius: 5px;cursor: pointer;align-items: center;">
                        <img style="vertical-align: middle;"width="20" src="../assets/github-icon.svg"/>
                        <a style="text-decoration: none; color:white;" href="https://github.com/thegamerhat/quick-vm/"> See on GitHub</a>
                    </button>
                </div>
            </span>
        </div>
    </div>
</div>

