@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');

body { 
    background-color: #121212;
}
:root {
    --text-color: #00aa00;
  }
  body {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #FCFCFC;
    line-height: 1.6;
  }
  nav {
    width: 30%;
  }
  nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav ul li {
    color: var(--text-color);
    cursor: pointer;
  }
  .wb-body {
    background: #111;
    padding: 20px;
  }
  .hidden {
    display: none;
  }
  .cursor {
    font-weight: 700;
    animation: 1s blink step-end infinite;
  }
  @keyframes blink {
    from,
    to {
      color: transparent;
    }
  
    50% {
      color: var(--text-color);
    }
  }
