<div class="container" style="
    color: white; 
    font-family: 'Roboto Mono', monospace;
">
    <p style="
        text-align: center; 
        margin-top: 40px; 
        margin-bottom: 40px;
        font-weight: 600;
    ">
    <span style="color: #00AA00;">root</span>
    <span style="color: #fff;">@</span>
    <span style="color: #d41919;">cybrdise</span>
    <span style="color: #00AA00;">: # </span>
    <span class="cursor">_</span></p>
    <h1 style="
        font-family: 'Roboto Mono', monospace;
        border-radius: 5px; 
        background-color: #1E1E1E; 
        margin: 30px; 
        width: 310px;
        padding-top: 10px;
        padding-bottom: 14px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 20px;
        margin: auto;
        font-family: monospace;
    ">
        <span style="
            margin-left: 15px;
            margin-right: 3px; color:#00AA00;
        ">$
        </span>
        <span>sudo </span>
        <span
        class="txt-rotate"
        data-period="1000"
        data-rotate='["apt upgrade","pacman -Syu","dnf upgrade","brew upgrade","choco upgrade"]'>
        </span><span class="cursortwo">▮</span>
    </h1>
        <br/>
        <h2 style="font-size: 18px; text-align: center; margin-top: 10px;">
        An
          <span style="color: #50FA7B; font-weight: bold;"> upgrade </span>
        is all you need.
        </h2>
</div>