<div class="container" style="
    color: white; 
    font-family: 'DM Mono', monospace;
    margin-bottom: 80px;
">
    <p style="
        text-align: center; 
        margin-top: 40px; 
        margin-bottom: 40px;
        font-weight: 600;
    ">
        <span style="color: #00AA00;">root</span>
        <span style="color: #fff;">@</span>
        <span style="color: #d41919;">cybrdise</span>
        <span style="color: #00AA00;">: # </span>
        <span class="cursor">_</span>
    </p>

    <div style="
        align-items: center;
        text-align: left;
        max-width: 300px;
        padding: 10px;
        padding-bottom: 20px;
        margin: auto;
        margin-top: 40px;
        background-color: #1E1E1E;
        font-family: 'DM Mono', monospace;
        border-radius: 5px;
    ">

        <div style="
            margin-top: 8px;
            margin-bottom: 15px;
            margin-left: 8px;
            display: flex;
            flex-direction: row;
        ">
            <span style="margin: 3px; width: 12px; height: 12px; display: inline-block; padding: 1px; border-radius: 100%; background-color:#c31a1a;"></span>
            <span style="margin: 3px; width: 12px; height: 12px; display: inline-block; padding: 1px; border-radius: 100%; background-color: #E8C700;"></span>
            <span style="margin: 3px; width: 12px; height: 12px; display: inline-block; padding: 1px; border-radius: 100%; background-color:#00830B;"></span>
        </div>

        <div style="
            margin-left: 8px; 
            font-size: 18px;
        ">
            <span style="
            margin-left: 3px;
            margin-right: 3px; color:#00AA00;
            ">$
            </span>

            <span>sudo </span>

            <span
            class="txt-rotate"
            data-period="1000"
            data-rotate='[
            "apt upgrade",
            "pacman -Syu",
            "dnf upgrade",
            "brew upgrade",
            "choco upgrade"]
            '>
            </span>

            <span class="cursortwo">▮ </span>

        </div>

    </div>

    <div style="
        justify-content: center; 
        text-align: center; 
        align-items: center; 
        font-size: 18px; 
        margin-top: 30px;
    ">An
       <span style="color: #50FA7B; font-weight: 500;"> upgrade </span>
    is all you need.
    </div>
    
</div>