

<!-- <span id="typeWriter" style="
    border-radius: 5px; 
    background-color: #eee; 
    margin: 30px; 
    display: flex; 
    width: 65px;
    padding: 10px;
    font-size: 12px;
    color: black;
    margin: 0 auto;
    font-family: monospace;
"></span>
   -->

<div class="container-lg" style="color: white; margin-top: 20px;">

    <!-- <div class="flex" style="position:relative;
    text-align:center; margin-bottom: 40px; margin-left: 6px; margin-right: 6px;">
        <img style="min-width: unset; max-width: 90%;" alt="terminal" src="../assets/terminals.png"/>
    </div> -->
      
    <h1 style="
        font-family: 'Roboto Mono', monospace;
        border-radius: 5px; 
        background-color: #1E1E1E; 
        margin: 30px; 
        width: 300px;
        padding: 10px;
        font-size: 20px;
        margin: auto;
        font-family: monospace;
    ">
        <span style="
            margin-left: 15px;
            margin-right: 3px;">$ sudo </span>   
        <span
        class="txt-rotate"
        data-period="1000"
        data-rotate='["apt upgrade","pacman -Syu","dnf upgrade","brew upgrade","choco upgrade"]'>
        </span>
    </h1>
    <br/>
    <h2 style="font-size: 18px; text-align: center;">An <span style="color: #50FA7B; font-weight: bold;">upgrade</span> is all you need.</h2>



  
      
</div>
    

<div class="terminal-container">

    <nav class="terminal-nav">
        <ul class="terminal-nav-ul">
          <li class="terminal-nav-ul-li" id="about">/about</li>
          <li class="terminal-nav-ul-li" id="contact">/contact</li>
        </ul>
      </nav>

      <main>
        <h1 class="terminal-h1">btraversy:$<span class="cursor">|</span></h1>
        <h3 class="terminal-h3">Find me online:</h3>
      </main>

    <div class="hidden">
      <div id="about-content">
        <h2 class="terminal-h2">about-me:$<span class="cursor">|</span></h2>
        <p class="terminal-p">My name is Brad Traversy and I have been programming for 14 years</p>
        <p class="terminal-p">
          Some of the languages that I am fluent in include JavaScript, Python,
          PHP and Ruby
        </p>
      </div>

      <div id="contact-content">
        <h2 class="terminal-h2">contact-me:$<span class="cursor">|</span></h2>
        <p class="terminal-p">You can contact me at the email and phone number below</p>
        <ul>
          <li>Phone: 555-555-5555</li>
          <li>Email: brad@email.com</li>
        </ul>
      </div>
    </div>

</div>

<script src="customjs/winbox-bundle.js"></script>
<script src="customjs/main.js"></script>


