<div *ngFor="let project of projects" class="pro-card">

    <div class="pro-card-dark">

        <div class="d-flex flex-column">
            <img width="{{project.logoWidth}}" src="{{project.logo}}"
                style="
                margin-bottom: auto; 
                margin-top: auto; 
                margin-left: 18px;
                max-width: 192px;
            "/>
        </div>

        <div class="d-flex flex-column" 
            style="
            text-align: center;
            margin-top: 20px; 
            max-width: 270px;
            margin-bottom: 20px;
        ">

            <div style="
                font-size: x-large; 
                font-weight: 800;
                margin-top: -10px; 
                color: #2484F0; 
            ">{{project.name}}</div>

            <div style="
                margin-left: 10px;
                margin-top: 10px; 
                color: white;
                font-size: 17px;
            ">{{project.description}}</div>

        </div>

    </div>

    <span style="width: auto; margin-bottom: 20px;">
        
        <div class="d-flex flex-row justify-content-between" 
            style="display: flex;">

            <button class="pro-btn m-2">
                
                <a style="text-decoration: none; color:white;" 
                href="{{project.blogLink}}">📑 Read More</a>

            </button>

            <button class="pro-btn m-2">

                <img style="vertical-align: -3px;"
                width="20" src="../assets/github-icon.svg"/>

                <a style="text-decoration: none; color:white;"
                href="{{project.gitLink}}"> Check Out!</a>
            
            </button>

        </div>

    </span>

</div>