<div class="pro-card">

    <div class="pro-card-dark">

        <div class="d-flex flex-column">
            <img src="../assets/vm-logo.svg"
                style="
                margin-bottom: auto; 
                margin-top: auto; 
                margin-left: 20px;
                width: auto;
                max-width: 192px;
            "/>
        </div>

        <div class="d-flex flex-column" 
            style="
            margin-left: auto;
            text-align: center;
            margin-top: 20px; 
            max-width: 270px;
            margin-bottom: 20px;
        ">

            <div style="
                font-size: x-large; 
                font-weight: 800;
                margin-top: -10px; 
                color: #2484F0; 
            ">Quick VM</div>

            <div style="
                margin-top: 10px; 
                color: white;
            ">Make a Windows VM in under 100 seconds!</div>

        </div>

    </div>

    <span style="width: auto; margin-bottom: 20px;">
        
        <div class="d-flex flex-row justify-content-between" 
            style="display: flex;">

            <button class="pro-btn m-2">
                
                <a style="text-decoration: none; color:white;" 
                href="https://blog.cybrdise.com/posts/quick-vm/">📑 Read Blog</a>

            </button>

            <button class="pro-btn m-2">

                <img style="vertical-align: -3px;"
                width="20" src="../assets/github-icon.svg"/>

                <a style="text-decoration: none; color:white;"
                href="https://github.com/thegamerhat/quick-vm/"> See on GitHub</a>
            
            </button>

        </div>

    </span>

</div>