/* navbar {
  display: flex;
  background-color: #282A36; 
  max-width: 100%;
}

navbar ul { 
	margin: 3px; 
	padding: 10px; 
	list-style-type: none; 
	text-align: center; 
	} 
 
ul li {  
  align-items: center;
  align-content: center;
	display:inline-flex; 
	} 
 
ul li a { 
	padding: .2em 1em; 
	color: #fff; 
	} 
 
ul li a:hover { 
  text-decoration: none;
	background-color: #1E1E1E; 
  border-radius: 5px;
	}  */


